.signup-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 16px;
  gap: 20px;
  justify-content: center;
  width: 400px;
  margin: 4px;
}
.signup-container .close-btn {
  position: absolute;
  top: 6px;
  right: 4px;
  z-index: 10;
}
.signup-container .signup-header {
  width: 100%;
  display: flex;
  text-align: center;
  flex-direction: column;
}
.signup-container .signup-header h1 {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.5mm;
}
.signup-container .login-header p {
  color: gray;
  font-size: 14px;
}
.signup-container .signup-header p span {
  font-weight: 700;
  color: black;
  margin: 0 5px;
  cursor: pointer;
}
.signup-container .passport-auth {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.signup-container .passport-auth button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid gray;
  width: 100%;
  padding: 6px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 8px;
  opacity: 50px;
  gap: 8px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  transition: 300ms ease-in-out;
}
.signup-container .passport-auth button:hover {
  opacity: 100%;
  scale: 102%;
  border-color: var(--blueSecondary);
}
.signup-container .passport-auth button .passport-icon {
  width: 20px;
  height: 20px;
}
.signup-container .form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.signup-container .form input {
  width: 100%;
  flex: 1;
}
.signup-container .form .first-last-name {
  width: 100%;
  display: flex;
  gap: 6px;
}
.signup-container .form button {
  padding: 5px 20px;
  border: 1px solid gray;
  border-radius: 8px;
  font-weight: 600;
  background-color: black;
  color: white;
  transition: 300ms ease-in;
  font-weight: 600;
  letter-spacing: 0.5mm;
  font-size: 15px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  margin-top: 10px;
}
.signup-container .form button:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}
@media only screen and (max-width: 400px) {
  .signup-container {
    width: 300px;
  }
}
