.products-collections-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.search-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px silver solid;
  padding: 4px;
  border-radius: 30px;
  padding-left: 12px;
  background-color: #f2f2f2;
}
.search-container input {
  flex: 1;
  background-color: transparent;
  border: none;
}
.search-container input:focus {
  outline: none;
}
.search-container button {
  display: flex;
  font-size: 18px;
  padding: 6px;
  align-items: center;
  justify-content: center;
  background-color: #cccccc;
  border-radius: 50px;
  color: black;
  border: 1px silver solid;
  transition: 300ms ease-out;
}
.search-container button:hover {
  scale: 103%;
  background-color: black;
  color: #cccccc;
  border: 1px white solid;
}
.cards-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 23px;
  flex-wrap: wrap;
  margin: auto;
}
