@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");
:root {
  --darkPrimary: #000814;
  --bluePrimary: #001d3d;
  --blueSecondary: #003566;
  --yellowPrimary: #ffc300;
  --yellowSecondary: #ffd60a;
  --primaryGray: #495057;
  --secondaryGray: #6c757d;
  --tertiaryGray: #adb5bd;
  --quarternaryGray: #ced4da;
}
root {
  list-style: none;
}
body {
  margin: 0;
  font-family: "Titillium Web" sans-serif;
  overflow-x: hidden;
}
* {
  margin: 0;
  font-family: "Titillium Web", sans-serif;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  background: var(--darkPrimary);
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: var(--blueSecondary);
  border-radius: 30px;
}
th {
  padding: 12px;
}
td {
  padding: 9px;
}
button {
  background-color: transparent;
  border: none;
}
button,
a {
  cursor: pointer;
}
ul {
  margin: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
