.categories-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 20px;
  flex-direction: column;
}

.categories-container .categories-header {
  display: flex;
  text-align: center;
  gap: 20px;
  flex-direction: column;
}
.categories-container .categories-header {
  display: flex;
  text-align: center;
  gap: 20px;
  flex-direction: column;
}
.categories-container .categories-header h1 {
  color: #343a40;
  letter-spacing: 0.3cm;
  font-weight: 900;
}
.categories-container .categories-header p {
  color: #6c757d;
  font-size: 14px;
}
