.categories-section-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  flex-direction: column;
  gap: 30px;
}

.categories-section-container .categories-header {
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 10px;
  flex-direction: column;
}
.categories-section-container .categories-header h1 {
  color: #343a40;
  letter-spacing: 0.3cm;
  font-weight: 700;
}
.categories-section-container .categories-header p {
  color: #6c757d;
  font-size: 14px;
  font-weight: 500;
}
.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 20px;
}
.cards-container div {
  display: grid;
  grid-template-rows: 50% 50%;
  grid-gap: 20px;
}
