.cart-table-container {
  width: 100%;
}

.head-cell p {
  font-weight: 700;
  font-size: 18px;
  color: var(--blueSecondary);
  text-decoration: underline;
}

.cart-table-container .product-cell {
  display: flex;
  align-items: center;
  gap: 10px;
}

.cart-table-container .product-cell {
  font-weight: 700;
  font-size: 20px;
}

.cart-table-container .product-quantite-container {
  display: flex;
  justify-content: space-between;
  width: fit-content;
  font-size: 20px;
  font-weight: 600;
  gap: 4px;
  border: 1px solid whitesmoke;
  padding: 3px;
  border-radius: 10px;
}

.cart-table-container .product-quantite-container button {
  transition: 100ms ease;
  font-size: 16px;
  color: silver;
}

.cart-table-container .product-quantite-container button:hover {
  opacity: 0.7;
  color: black;
}

.cart-table-container .product-quantite-container input {
  max-width: 40px;
  border: none;
  outline: none;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  color: var(--primaryGray);
}

.delete-icon {
  font-size: 30px;
  align-self: center;
}

.cart-table-container .product-img-table {
  max-width: 80px;
  border-radius: 10px;
  height: 80px;
}

.cart-table-container .price-cell,
.cart-table-container .total-cell {
  font-weight: 600;
  font-size: 16px;
  color: var(--primaryGray);
}
