.cart-table-container {
  width: 100%;
}
.cart-table-container .product-cell {
  display: flex;
  align-items: center;
  gap: 10px;
}
.cart-table-container .product-cell {
  font-weight: 600;
  font-size: 18px;
}

.cart-table-container .product-img-table {
  max-width: 80px;
  height: 80px;
}
