.text-input-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}

.input-field {
  width: 100%;
  padding: 5px;
  padding-left: 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid silver;
}
error-message-container {
  display: flex;
  flex-direction: row;
  padding: 4px;
}
.input-error-message {
  font-size: 12px;
  color: #c1121f;
}
