.product-detail-container {
  padding: 60px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.product-reviews-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media only screen and (max-width: 700px) {
  .product-detail-container {
    padding: 20px;
  }
}
