/* start product card  */
.product-card-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 18px;
  min-width: 200px;
  padding: 10px;
  max-width: 250px;
  border-radius: 24px;
  cursor: pointer;
  transition: 200ms ease-out;
  font-family: sans-serif;
}
.product-card-container:hover {
  scale: 112%;
}
.product-card-container .product-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3px;
  padding: 6px;
}
.title {
  font-size: 18px;
  color: #343a40;
}
.product-card-container .product-detail div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.discount {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 18px;
  right: 16px;
  position: absolute;
  font-size: 12px;
  padding: 1px 23px;
  background-color: black;
  border-radius: 6px;
  color: white;
  width: 35px;
  height: 25px;
  text-align: center;
}
.price {
  font-size: 14px;
  font-weight: 700;
}
.price span {
  text-decoration: line-through;
  font-size: 10px;
  font-weight: 600;
}

.product-card-container .product-detail .add {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 50%;
  opacity: 0.6;
  transition: 200ms ease-out;
}
.product-card-container .product-detail .add:hover {
  opacity: 1;
  scale: 130%;
}
.product-card-container .product-detail .add .icon {
  height: 24px;
  width: 26px;
}
@media only screen and (max-width: 555) {
  .product-card-container {
    width: 100%;
  }
}
/* end product card  */
/* start categorie card  */
.categorie-card-container {
  position: relative;
  border-radius: 16px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  max-width: 400px;
  overflow: hidden;
  cursor: pointer;
  transition: 400ms ease-out;
  height: 300px;
}
.categorie-card-container:hover {
  scale: 108%;
}

.categorie-card-container img {
  object-fit: cover;
  z-index: 10;
  filter: blur(1px);
}
.categorie-card-container .title {
  position: absolute;
  text-align: center;
  /* color: var(--tertiaryGray); */
  color: var(--blueSecondary);
  z-index: 30;
  bottom: 10%;
  right: 30%;
  font-weight: 600;
  font-size: 18px;
}
/* end categorie card  */
