.similar-products-section {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 30px;
}
.similar-products-section .products-cards-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
