.products-container {
  display: grid;
  grid-template-columns: 15% 75%;
  justify-content: center;
  align-items: start;
  grid-gap: 40px;
  color: black;
  margin: 20px;
  overflow: hidden;
  height: 100vh;
}
div {
  color: black;
}
