.headerContainer {
  position: sticky;
  display: flex;
  top: 0;
  left: 0;
  flex-direction: column;
  width: 100%;
  z-index: 30;
}
/* brandName start  */
.brandNameContainer {
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
}
.brandNameContainer ul {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}
.brandNameContainer ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  text-align: center;
}
.brandNameContainer ul li a,
.brandNameIcon {
  font-size: 20px;
  font-weight: 800;
}
/* brandName end */
/* navbar start */
.navbarContainer {
  background-color: #023047;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-weight: 600;
  align-items: center;
  padding: 4px;
  margin: 0;
}
.navbarContainer .brandNameIcon {
  color: white;
}
.navbarContainer .brandName {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 7px;
  opacity: 80%;
  transition: 300ms ease-out;
}
.navbarContainer .brandName {
  scale: 101%;
  opacity: 100%;
}
.navbarContainer .brandName p {
  color: whitesmoke;
  font-weight: 700;
  letter-spacing: 1mm;
}
.navbarContainer ul {
  display: flex;
  gap: 20px;
  margin: 0;
}
.navbarContainer ul li p {
  color: silver;
  transition: 300ms ease-out;
}
.active {
  opacity: 100%;
  color: black;
  scale: 106%;
}
.active {
  position: relative;
  scale: 115%;
}
.active p {
  color: white !important;
  font-weight: 700;
  letter-spacing: 2.5Q;
}
.active::before {
  position: absolute;
  align-self: center;
  justify-self: center;
  content: "";
  width: 100%;
  z-index: 50;
  height: 2px;
  bottom: -3px;
  background-color: #ffd60a;
}
.logo {
  font-size: 26px;
}
.shoppingCartIcon {
  color: white;
  font-size: 20px;
}
.profil {
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
}
.profil .auth-btns-container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.profil .currentUser {
  display: flex;
  align-items: center;
  gap: 10px;
}
.profil .currentUser img {
  width: 25px;
  height: 25px;
  border-radius: 50px;
}
.profil .auth-btns-container .devider {
  height: 18px;
  width: 2px;
  background-color: var(--yellowPrimary);
  rotate: 10deg;
}
.profil .auth-btns-container p {
  transition: 300ms ease-out;
  opacity: 80%;
  letter-spacing: 0.5mm;
  font-weight: 600;
  color: white;
}
.profil .auth-btns-container p:hover {
  scale: 102%;
  color: whitesmoke;
  opacity: 100%;
}
.navbarContainer .bars {
  display: none;
}
.drawer-container {
  display: none;
}
/* navbar end */
/* responsive design */
@media only screen and (max-width: 600px) {
  .navbarContainer {
    justify-content: space-between;
    padding: 5px 10px;
  }
  .navbarContainer ul {
    display: none;
  }
  .profil {
    display: none;
  }
  .navbarContainer .bars {
    display: block;
    color: white;
  }
  .drawer-container {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.5);
    transition: 300ms ease-in;
  }
  .drawer-container .drawer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #023047;
    width: 60%;
    height: 100%;
    padding: 20px;
  }
  .drawer-container .drawer li {
    width: fit-content;
  }
  .drawer-container .drawer li .nav {
    display: flex;
    gap: 20px;
    align-items: center;
    color: white;
  }
  .drawer-container .drawer li .nav .drawer-icon {
  }
}
