.product {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 30px;
  max-width: 90%;
  margin: auto;
}
.product .images-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
}
.product .small-imgs-container {
  padding: 4px;
  cursor: grab;
  user-select: none;
  display: flex;
  flex-direction: column;
  gap: 4px;
  border-radius: 4px;
  overflow-y: auto;
  width: 20%;
  max-height: 450px;
  scroll-margin: 2px;
}
.product .small-imgs-container::-webkit-scrollbar-thumb {
  background-color: silver;
}
.product .small-imgs-container::-webkit-scrollbar {
  height: 4px;
  margin-top: 3px;
  padding: 1px;
  bottom: -4px;
  width: 4px;
  background-color: gray;
}
.product .small-imgs-container img {
  border: 1px solid black;
  width: 100%;
}
.product .big-img {
  border-radius: 20px;
  max-width: 70%;
  width: 100%;
  background-color: black;
  border: 1px solid black;
  max-height: 600px;
}

.product .product-info {
  display: flex;
  flex-direction: column;
  max-width: 40%;
  gap: 30px;
}
.product .product-info .header {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.product .product-info .header .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product .product-info .header .title h1 {
  font-size: 18px;
  font-weight: 700;
}
.product .product-info .header .title button {
  cursor: pointer;
  font-size: 24px;
  font-weight: 700;
}

.product-info .header .title button .red-heart {
  color: red;
}
.product .product-info .price {
  display: flex;
  gap: 10px;
  font-size: 16px;
  color: gray;
  font-weight: 600;
  align-items: center;
}
.product .desc {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.product .desc .btns {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}
.product .desc .btns .add-to-cart-btns {
  display: flex;
  gap: 20px;
}
.product .desc .btns .add-to-cart-btns .add-items {
  flex: 1;
  padding: 5px;
  border-radius: 30px;
  background-color: black;
  color: white;
  font-weight: 700;
  font-size: 15px;
  border: 1px solid gray;
  transition: 300ms ease-in;
}
.product .desc .btns .add-to-cart-btns .add-item {
  display: flex;
  border: 1px solid silver;
  padding: 5px;
  border-radius: 30px;
  align-items: center;
}

.product .desc .btns .add-to-cart-btns .add-item input {
  outline: none;
  border: none;
  width: fit-content;
  text-align: center;
  font-weight: 700;
  font-size: 17px;
  width: 60px;
}
.product .desc .btns .buy-now-btn {
  border: 1px solid silver;
  border-radius: 30px;
  padding: 5px;
  font-weight: 600;
  font-size: 16px;
  transition: 300ms ease-in;
}
.product .desc .btns .buy-now-btn:hover {
  background-color: black;
  color: white;
  scale: 105%;
  border: 2px solid var(--yellowPrimary);
}

.product .desc .btns .add-to-cart-btns .add-items:hover {
  background-color: white;
  color: black;
  scale: 105%;
  border-color: var(--yellowPrimary);
}
@media only screen and (max-width: 1000px) {
  .product {
    width: 100%;
    display: flex;
    flex-direction: column;
    max-width: unset;
    gap: 20px;
  }
  .product .product-info {
    width: 100%;
    max-width: unset;
  }
  .product .images-container .small-imgs-container img {
    height: 100px;
  }
  .product .desc {
    padding: 10px;
  }
  @media only screen and (max-width: 600px) {
    .product {
      width: 100%;
      display: flex;
      flex-direction: column;
      max-width: unset;
      gap: 20px;
    }
    .product .images-container {
      flex-direction: column-reverse;
    }
    .product .images-container .small-imgs-container {
      flex-direction: row;
      width: 100%;
    }
    .product .images-container .big-img {
      width: 100%;
      max-width: unset;
    }
  }
}
