.edit-account-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 50%;
  width: 100%;
  padding: 20px;
}
.edit-account-container h1 {
  font-weight: 700;
  letter-spacing: 0.3mm;
  color: var(--blueSecondary);
  text-decoration: underline;
  text-underline-offset: 5px;
  font-size: 18px;
}
.edit-account-container input {
  padding: 6px;
  border: 2px solid white;
  border-radius: 6px;
  outline: none;
  color: gray;
  font-size: 14px;
  padding-left: 12px;
  letter-spacing: 0.4mm;
  font-weight: 500;
  background-color: whitesmoke;
  transform: all 300ms ease-in-out;
}
.edit-account-container input:focus {
  outline: seagreen;
  border: 2px solid var(--blueSecondary);
}
.edit-account-container .account-info-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.edit-account-container .account-info-container .name-container {
  display: flex;
  gap: 4px;
}
.edit-account-container
  .account-info-container
  .name-container
  .input-champ-container {
  flex: 1;
}
.edit-account-container .account-info-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.edit-account-container .account-info-container .input-champ-container {
  display: flex;
  gap: 6px;
  flex-direction: column;
}
.edit-account-container .account-info-container .input-champ-container label {
  font-size: 14px;
  font-weight: 700;
}
.edit-account-container .change-password-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.edit-account-container .change-password-container h2 {
  font-weight: 700;
  font-size: 15px;
  color: var(--bluePrimary);
}
.edit-account-container .btns {
  display: flex;
  justify-content: end;
  gap: 20px;
}
.edit-account-container .btns button {
  padding: 5px 18px;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.3mm;
  border-radius: 3px;
  opacity: 80%;
  transition: all 300ms ease-in-out;
}
.edit-account-container .btns button:hover {
  opacity: 100%;
}
.edit-account-container .btns .cancel-btn {
  background-color: var(--quarternaryGray);
}
.edit-account-container .btns .save-changes-btn {
  background-color: var(--blueSecondary);
  color: white;
}
